body {
margin-top: -21px !important;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-right-10 {
  margin-right: 10px;
}
.no-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.well {
  background: #c53d3d !important;
  color: white !important;
  font-family: 'Open Sans', sans-serif !important;
}
